<% @posts.each do |post| %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 center-content"> <!-- U odnosu na kontenjer -->
			<div class="custom-fit">
				<h3 class="post_title">
					<%= post.title %>
				</h3>

				<% if post.category_name == "slike" %>
					<%= image_tag(post.content, class: 'img-responsive') %>
				<% else %>
					<p class="status"> <%= post.content %> </p>
				<% end %>

				<div id="likes_<%= post.storage_id %>">
					<%= link_to "+1", vote_up_path(storage_id: post.storage_id), 
									  class: "vote_up btn btn-success btn-default active", :remote => true %>

					<%= link_to "-1", vote_down_path(storage_id: post.storage_id), 
					                  class: "vote_down btn btn-danger btn-default active", :remote => true %>

					<span class='like_counter'>
						<%= post.votes %>
					</span>
				</div>
			</div>

		</div>
	</div>
	<hr>

<% end %>
