<% @posts.each do |post| %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 center-content"> <!-- U odnosu na kontenjer -->
			<% if @filter[:category_name] == "slike" && post.category_name == "slike" %>
				<div class="custom-fit">
					<h3 class="post_title">
						<%= post.title %>
					</h3>
						<%= image_tag(post.content, class: 'img-responsive', width: '550') %>
						<div id="likes_<%= post.storage_id %>">
						<%= link_to "", vote_up_path(storage_id: post.storage_id), 
										  class: "glyphicon glyphicon-chevron-up vote_up btn btn-info btn-default active", :remote => true %>

						<%= link_to "", vote_down_path(storage_id: post.storage_id), 
						                  class: "glyphicon glyphicon-chevron-down vote_down btn btn-info btn-default active", :remote => true %>

					
							<span class="label label-info"> Total: <%= post.votes %> </span>
						
	
						
						</div>
							<% if current_user %>
							<%= link_to " " + get_comment_count(post.entries_id).to_s , comments_path(entry_id: post.entries_id ),
						class: "glyphicon glyphicon-comment btn btn-info pull-left active", id:"commentss" %>

						<% end %>
					</div>		
			<% end %>
			<% if @filter[:category_name] == "statusi" && post.category_name == "statusi" %>
				<div class="custom-fit">
					<h3 class="post_title">
						<%= post.title %>
					</h3>

						<%= post.content %>
						<div id="likes_<%= post.storage_id %>">
						<%= link_to "", vote_up_path(storage_id: post.storage_id), 
										  class: "glyphicon glyphicon-chevron-up vote_up btn btn-info btn-default active", :remote => true %>

						<%= link_to "", vote_down_path(storage_id: post.storage_id), 
						                  class: "glyphicon glyphicon-chevron-down vote_down btn btn-info btn-default active", :remote => true %>

						
						
							<span class="label label-info"> Total: <%= post.votes %> </span>

					
					
						</div>
							<% if current_user %>
								<%= link_to " " + get_comment_count(post.entries_id).to_s , comments_path(entry_id: post.entries_id ),
						class: "glyphicon glyphicon-comment btn btn-info pull-left active", id:"commentss" %>
						<% end %>
				</div>		
			<%end%>
			<% if !@filter[:category_name]  %>
					<div class="custom-fit">
					<h3 class="post_title">
					<%= post.title %>
					</h3>
					<% if post.category_name == "slike" %>
						<%= image_tag(post.content, class: 'img-responsive', width: '550') %>
					<% else %>
					<p class="status"> <%= post.content %> </p>
					<% end %>
					<div id="likes_<%= post.storage_id %>">
					<%= link_to "", vote_up_path(storage_id: post.storage_id), 
										  class: "glyphicon glyphicon-chevron-up vote_up btn btn-info btn-default active", :remote => true %>

						<%= link_to "", vote_down_path(storage_id: post.storage_id), 
						                  class: "glyphicon glyphicon-chevron-down vote_down btn btn-info btn-default active", :remote => true %>
		
							<span class="label label-info"> Total: <%= post.votes %> </span>
					</div>
						<% if current_user %>
						<%= link_to " " + get_comment_count(post.entries_id).to_s , comments_path(entry_id: post.entries_id ),
						class: "glyphicon glyphicon-comment btn btn-info pull-left active", id:"commentss" %>
					<% end %>
				</div>

			<%end%> 
				
		</div>
	</div>
<% end %>
