<!DOCTYPE html>
<html>
<head>
  <title>Društveni portal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
      	  <%= image_tag 'dp-small.png', class: 'img-rounded' %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           
          <%= link_to('Društveni portal', root_path, class: 'navbar-brand a-custom-brand') %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="active dropdown">
                 <%= link_to root_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
                    Categories 
                    <b class="caret"></b>
                 <% end %>
                 <ul class="dropdown-menu">
                   <% get_categories.each do |category| %>
                      <li><%= link_to category.capitalize, root_path %> </li>
                   <% end %>
                 </ul>
              </li>
          </ul>

          
          <ul class="nav navbar-nav navbar-right">
           <% if current_user %>
              <li>
                <p class="navbar-text">
                  Signed in as <%= "#{current_user.username}" %> |
                  <%= link_to "Log out", log_out_path %>
                </p>
              </li>
           <% else %>
              <li><%= link_to "Login", "#loginModal", data: { toggle: 'modal'} %></li>
              <li><%= link_to "Sign up", new_user_path %></li>
           <% end %>
          </ul>
      </div>
    </div>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-info alert-dismissable custom-alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="container">
   <%= yield %>
  </div>
  <!-- We want to load modal last, user will click on login atm when everything will be loaded -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"> Login page </h4>
        </div>
        
        <div class="modal-body">
            <%= form_tag sessions_path, class: 'form-horizontal', role: 'form' do %>
                <div class='form-group'>
                    <%= label_tag :username, 'Username', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= text_field_tag :username, nil, placeholder: 'Username', class: 'form-control' %>
                    </div>
                </div>

                <div class='form-group'>
                    <%= label_tag :password, 'Password', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                        <%= password_field_tag :password, nil, placeholder: 'Password', class: 'form-control' %>
                    </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <%= submit_tag "Log In", class: 'btn btn-success' %>
                  </div>
                </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>